@use "utilities" as *;

.menu{
  >img{
    margin: auto;
    margin-top: 45px;
    display: block;
  }
  > .menu-buttons{
    margin: 10dvh auto auto auto;
    transform: translateY(-50%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    width: max-content;
    padding: 13px 33px;
    border-radius: 14px;
    > button{
      @extend .my-button;
      width: 12rem;
      font-size: 2rem;
      margin: 2px;
    }
  }


}