*{
  box-sizing: border-box;
}

$side_length: 210px;

.container{
  width: $side_length + 20px;
  height: $side_length + 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);

  > .cell{
    width: $side_length/3;
    height: $side_length/3;
    background-color: #eee;
    box-shadow:5px 5px 5px rgba(0,0,0,.2),5px 5px 8px rgba(0,0,0,.2) inset,-5px -5px 8px rgba(0,0,0,.2) inset;
    border: 1px solid black;
    border-radius: 10px;
    transition: box-shadow .2s linear,background-color .5s linear;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;

    &:hover{
      box-shadow: 5px 5px 5px rgba(0,0,0,.1),5px 5px 8px rgba(0,0,0,.1) inset,-5px -5px 8px rgba(0,0,0,.1) inset;
    }
    &-focus{
      width: $side_length/3 - 5px;
      height : $side_length/3 - 5px;
      transform: translate(2.5px,2.5px);
    }
    &.win{
      background-color: #00ee00;
    }


  }

}